[submodule "ext/flowy"]
    path = ext/flowy
	url = ../flowy.git

[submodule "ext/oss_eda_base"]
    path = ext/oss_eda_base
	url = ../oss_eda_base.git

[submodule "ext/swact"]
	path = ext/swact
	url = ../swact.git
[submodule "ext/FLOWY"]
	path = ext/FLOWY
	url = https://github.com/huawei-csl/FLOWY.git
